# ─── Application ─────────────────────────────────────
NODE_ENV=development
PORT=3000

# ─── JWT ─────────────────────────────────────────────
# Doit correspondre exactement au secret de l'Auth Service
JWT_SECRET=your-super-secret-jwt-key-min-32-chars
JWT_EXPIRATION=24h

# ─── Redis (Rate Limiting) ────────────────────────────
REDIS_HOST=localhost
REDIS_PORT=6379
REDIS_PASSWORD=

# ─── URLs des Microservices ───────────────────────────
AUTH_SERVICE_URL=http://auth-service:3001
FLIGHT_SERVICE_URL=http://flight-service:3002
CHECKIN_SERVICE_URL=http://checkin-service:3003
OCR_SERVICE_URL=http://ocr-service:3004
BOARDING_PASS_SERVICE_URL=http://boarding-pass-service:3005

# ─── Rate Limiting Global ────────────────────────────
THROTTLE_TTL=60
THROTTLE_LIMIT=100

# ─── Swagger ─────────────────────────────────────────
SWAGGER_ENABLED=true
SWAGGER_PATH=api/docs
