# ─── Variables Infra Tadkira ─────────────────────────
# Copier ce fichier en .env dans le dossier infra/

# Redis
REDIS_PASSWORD=

# RabbitMQ
RABBITMQ_USER=tadkira
RABBITMQ_PASSWORD=tadkira_pass

# MinIO
MINIO_ROOT_USER=tadkira_admin
MINIO_ROOT_PASSWORD=tadkira_secret
